<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
      <%= review.rating %>
    </li>
    <% end %>
</ul>
<div class="btn btn-danger">
 <%= link_to "Back to restaurants", restaurants_path %>
</div>
